<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zf.sysservice.mapper.EmployeeMapper">

    <sql id="baseColumnSql">
        <bind name="talias" value="'e'"/>
        ${talias}.`id`,${talias}.`name`,${talias}.`password`,${talias}.`email`,${talias}.`age`,${talias}.`dept`,${talias}.`hiredate`,${talias}.`state`,${talias}.`admin`,${talias}.`is_deleted`,${talias}.`login_time`,${talias}.`create_time`,${talias}.`modified_time`
    </sql>

    <resultMap id="baseResultMap" type="com.zf.sysservice.entity.Employee">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="password" property="password"/>
        <result column="email" property="email"/>
        <result column="age" property="age"/>
        <result column="dept" property="dept"/>
        <result column="hiredate" property="hiredate"/>
        <result column="state" property="state"/>
        <result column="admin" property="admin"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="login_time" property="loginTime"/>
        <result column="create_time" property="createTime"/>
        <result column="modified_time" property="modifiedTime"/>
    </resultMap>
    <resultMap id="EmployeeDetail" type="com.zf.sysservice.entity.vo.EmployeeDetail" extends="baseResultMap">
        <result column="departmentName" jdbcType="VARCHAR" property="departmentName"/>
        <result column="roleNames" jdbcType="VARCHAR" property="roleNames"/>
    </resultMap>
    <!--    查询员工明细列表  多对多-->
    <select id="selectEmployeeDetailList" resultMap="EmployeeDetail">
        select e.id,e.name,e.email,e.age,d.name departmentName,
        group_concat(r.name) roleNames
        from employee e
        join department d on d.id=e.dept
        left join employee_role er on er.employeeId=e.id
        left join role as r on er.roleId = r.id

              <if test="name != null">
                  where e.name like concat('%',#{name},'%')
              </if>
        <if test="dept != null and dept >0">
            and e.dept = #{dept}
        </if>
group by e.id order by e.create_time desc
    </select>
</mapper>
